// DRUPAL
HASH_SALT=
TRUSTED_HOST_PATTERNS[]=^object\.aihub\.or\.kr$
TRUSTED_HOST_PATTERNS[]=^stage\.aihub\.or\.kr$
DRUPAL_ENV=debug|prod

// DATABASE
DB_MASTER_DB=
DB_MASTER_ID=
DB_MASTER_PW=
DB_MASTER_HOST=
DB_SLAVE_DB=
DB_SLAVE_ID=
DB_SLAVE_PW=
DB_SLAVE_HOST=

// CHECKPLUS
CP_SITECODE=
CP_SITEPASSWD=
CP_CB_ENCODE_PATH=
CP_AUTHTYPE=
CP_POPGUBUN=
CP_HOST=
CP_RETURNURL=
CP_ERRORURL=
CP_NAME=
CP_PHONE=
CP_VERIFIED=
CP_FOREIGNER=

// FLYSYSTEM
FLY_S3_PUBLIC_KEY=
FLY_S3_PUBLIC_SECRET=
FLY_S3_PUBLIC_BUCKET=
FLY_S3_PRIVATE_KEY=
FLY_S3_PRIVATE_SECRET=
FLY_S3_PRIVATE_BUCKET=
FLY_FS_PUBLIC_PATH=
FLY_FS_PRIVATE_PATH=
