# [project_env:dev|stage|prod]
DRUPAL_ENV=dev

# [drush:alias:stage]
STG_HOST=drupal_stage
STG_USER=drupal_stage
STG_ROOT=/var/www/project/web
STG_URI=https://domain.tld
STG_PEM_KEY="~/.ssh/id_rsa"

# [drush:alias:prod]
PROD_HOST=drupal_prod
PROD_USER=drupal_prod
PROD_ROOT=/var/www/project/web
PROD_URI=https://domain.tld
PROD_PEM_KEY="~/.ssh/id_ed25519"

# [drupal:settings]
DRUPAL_TRUSTED_HOST_PATTERNS="^127\\.0\\.0\\.1$|^localhost$"
DRUPAL_CONFIG_SYNC_DIRECTORY=../config/sync
# DRUPAL_DB_DRIVER=#[sqlite|mysql|pgsql]
# DRUPAL_DB_DATABASE=drupal
# DRUPAL_DB_HOST=127.0.0.1
# DRUPAL_DB_PORT=3306
# DRUPAL_DB_USERNAME=drupal
# DRUPAL_DB_PASSWORD=drupal
# DRUPAL_DB_PREFIX=drupal
# DRUPAL_DB_COLLATION=utf8mb4_general_ci

# [drush:site:install]
DRUSH_OPTIONS_URI=http://localhost:8888
DRUSH_COMMAND_SITE_INSTALL_OPTIONS_ACCOUNT_NAME=mozodev
DRUSH_COMMAND_SITE_INSTALL_OPTIONS_ACCOUNT_MAIL=mozodev@users.noreply.github.com
DRUSH_COMMAND_SITE_INSTALL_OPTIONS_SITE_NAME=drupal-9
DRUSH_COMMAND_SITE_INSTALL_OPTIONS_SITE_MAIL=mozodev@users.noreply.github.com
DRUSH_COMMAND_SITE_INSTALL_OPTIONS_LOCALE=ko
DRUSH_COMMAND_SITE_INSTALL_OPTIONS_CONFIG_DIR=../config/sync
DRUSH_COMMAND_SITE_INSTALL_OPTIONS_DB_URL=mysql://mariadb:mariadb@mariadb/mariadb
# DRUSH_COMMAND_SITE_INSTALL_OPTIONS_DB_URL=sqlite://../sqlite/db.sqlite3
# DRUSH_COMMAND_SITE_INSTALL_OPTIONS_DB_URL=mysql://drupal:drupal@10.148.130.131:3306/drupal
# DRUSH_COMMAND_SITE_INSTALL_OPTIONS_DB_URL=pgsql://drupal:drupal@10.148.130.81:5432/drupal

# [drupal:flysystem_s3]
FLY_S3_PUBLIC_KEY=
FLY_S3_PUBLIC_SECRET=
FLY_S3_PUBLIC_BUCKET=
FLY_S3_PUBLIC_PATH=
FLY_S3_PRIVATE_KEY=
FLY_S3_PRIVATE_SECRET=
FLY_S3_PRIVATE_BUCKET=
FLY_S3_PRIVATE_PATH=

# [project:deploy]
DEPLOY_HOST=stage
DEPLOY_SLACK_WEBHOOK_URL=https://hooks.slack.com/services/***
DEPLOY_SLACK_CHANNEL=#general
DEPLOY_DOMAIN=drupal.mozo.kr
DEPLOY_PROJECT_ROOT=/var/www/drupal-project
