HASH_SALT=
CONFIG_SYNC_DIRECTORY="../config/sync"
TRUSTED_HOST_PATTERNS="^127\.0\.0\.1$|^localhost$"
DEBUG=1

# DATABASE
# sqlite|mysql|pgsql
# DB_DRIVER=mysql
DB_DATABASE=
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_PREFIX=
DB_COLLATION=

# FLYSYSTEM
FLY_S3_PUBLIC_KEY=
FLY_S3_PUBLIC_SECRET=
FLY_S3_PUBLIC_BUCKET=
FLY_FS_PUBLIC_PATH=

FLY_S3_PRIVATE_KEY=
FLY_S3_PRIVATE_SECRET=
FLY_S3_PRIVATE_BUCKET=
FLY_FS_PRIVATE_PATH=

# DRUSH
DRUSH_OPTIONS_URI=http://localhost:8888
DRUSH_COMMAND_SITE_INSTALL_OPTIONS_DB_URL=sqlite://../drive/db.sqlite3
DRUSH_COMMAND_SITE_INSTALL_OPTIONS_ACCOUNT_NAME=mozodev
DRUSH_COMMAND_SITE_INSTALL_OPTIONS_ACCOUNT_MAIL=mozodev@users.noreply.github.com
DRUSH_COMMAND_SITE_INSTALL_OPTIONS_SITE_NAME=drupal-9
DRUSH_COMMAND_SITE_INSTALL_OPTIONS_SITE_MAIL=mozodev@users.noreply.github.com
DRUSH_COMMAND_SITE_INSTALL_OPTIONS_LOCALE=ko
DRUSH_COMMAND_SITE_INSTALL_OPTIONS_CONFIG_DIR=../config/sync
DRUSH_COMMAND_SITE_INSTALL_OPTIONS_EXISTING_CONFIG=
